@import "tailwindcss";
@media(min-width:768px){
.shadow{
    box-shadow: -7px 7px 5px 5px rgba(0, 0, 0, 0.298),7px 0px 5px 5px rgba(0, 0, 0, 0.298);
    background-color: rgba(239, 239, 239, 0.585);
}
}
.body {
    background-color: #1E1E2F; 
    color: #F1F5F9; 
    min-height: 85.6vh;
  }
  .small_container{
    text-align: center;
    background-color: #1E1E2F; 
    color: #F1F5F9; 
  }
  @media (max-width: 768px) {
    .small_container {
      width: 30%;
      padding: 2px;
    }
    img{
        display: none;
    }
    .home{
        display: none;
    }
    .input_bar{
        max-width: 20px;
        margin-left: 20px;
        margin-bottom: 8px;
    }
}
  body {
    font-family: 'Inter', sans-serif;
  }

